<!-- WITHOUT BOOTSTRAP VERSION

<h1> Rock, Paper, Scissors Game </h1>
<p> Which one do you choose? </p>
<p>
  <a href='/make_answer?selection=Rock'>Rock</a>
</p>
<p>
  <a href='/make_answer?selection=Paper'>Paper</a>
</p>
<p>
  <a href='/make_answer?selection=Scissors'>Scissors</a>
</p> -->



<!DOCTYPE>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class='container'>
    <div class='jumbotron'>
      <h1>Rock, Paper, and Scissors Game</h1>
      <p>Choose!</p>
      <p>
        <a class='btn btn-primary' href='/make_answer?selection=Rock'>Rock</a>
      </p>
      <p>
        <a class='btn btn-primary' href='/make_answer?selection=Paper'>Paper</a>
      </p>
      <p>
        <a class='btn btn-primary' href='/make_answer?selection=Scissors'>Scissors</a>
      </p>
    </div>
  </div>
</body>
</html>
