<h1>Zen Quotes and Bill Murray<h1>


<%= @quote %>

<hr>
<hr>

<form action='/bill' method='get'>
  <input type='text' name='width' placeholder='Enter width (px)'>
    <input type='text' name='height' placeholder='Enter length (px)'>
  <input type='submit' value='Get your picture!'>
</form>
